.infoUser  {
  width: 80%;

  margin: 30px 10% 30px 10%;
  border-collapse: collapse;

 }
.infoUser  th {
  height: 50px;
    color: #FFFFFF;
  font-weight: bold;
  font-style: italic;
  font-size: 20px;

  background: #0f8ace;
}
.firstP {
  border-radius: 100px 0px 0px 0px;
}
.lastP{
  width: 100px;
  border-radius: 0px 100px  0px 0px;
}
table  tr td {border: 1px solid #01ab73;
  height: 40px;
}
table tbody tr td {border: 1px solid #e8e9eb;}
table tbody tr:nth-child(2n) {background: #f4f4f4;}
table tbody tr:hover {background: #ebffe8;}

.addForm {
  margin-top: 20PX;
  margin-left: 20%;
  margin-right: 20%;


}
input{
  width: 300px;
}
 .addForm input[type=text] {
  padding: 10px;
  margin:10px 0 10px 30%; // add top and bottom margin
  width: 200px;
   border: 0px;
   box-shadow:0 0 15px 4px rgba(15,138,206,0.5);
   border-radius:10px;
}
fieldset {
  border-color: #0f8ace;
  border-style: dashed;
}
input[type=text]:focus {
  background-color: lightblue;
}
.btn1{

  appearance:none;
  -webkit-appearance:none;
  margin-top: 10px;
  margin-left: 30%;
  padding:15px;
  border:none;
  background-color:#0f8ace;
  color:#fff;
  font-weight:600;
  border-radius:5px;
  width:40%;
}
